In [9]:
from statistics import fmean as mean
from random import shuffle

drug = [54, 73, 53, 70, 73, 68, 52, 65, 65]
placebo = [54, 51, 58, 44, 55, 52, 42, 47, 58, 46]
observed_diff = mean(drug) - mean(placebo)

n = 10_000
count = 0
combined = drug + placebo
for i in range(n):
    shuffle(combined)
    new_diff = mean(combined[:len(drug)]) - mean(combined[len(drug):])
    count += (new_diff >= observed_diff)

print(f'{n} label reshufflings produced only {count} instances with a difference')
print(f'at least as extreme as the observed difference of {observed_diff:.1f}.')
print(f'The one-sided p-value of {count / n:.4f} leads us to reject the null')
print(f'hypothesis that there is no difference between the drug and the placebo.')

10000 label reshufflings produced only 13 instances with a difference
at least as extreme as the observed difference of 13.0.
The one-sided p-value of 0.0013 leads us to reject the null
hypothesis that there is no difference between the drug and the placebo.

In [1]:
from datetime import datetime
print(datetime.now())

2024-07-28 14:34:36.893951

In [1]:
import pandas as pd

# 建立 Series 物件並設定 index 索引
grades = pd.Series([60, 27, 72, 53], index=['小郭', '小王', '小華', '小明'])

print(grades)

小郭    60
小王    27
小華    72
小明    53
dtype: int64

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.060189  0.544821 -0.675951 -1.189242
2013-01-02 -0.246720  0.968317 -0.536745 -0.945341
2013-01-03  0.735671  1.294348  1.759814 -1.422881
2013-01-04  0.397218  0.458667 -0.278390  0.345705
2013-01-05 -0.980033  0.383098  0.264666  0.327147
2013-01-06  0.978720 -0.803382 -0.478101  0.267361

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(8, 4) * 5)
print(df)

          0         1         2         3
0  2.032973  0.082131  3.293634  1.510302
1  1.991394  4.839342  4.047635  1.069238
2  0.298597  1.366379  2.049492  4.337707
3  0.354951  1.874146  1.172487  0.325068
4  2.410208  2.528215  1.241984  2.874161
5  2.050923  0.473196  4.432624  0.967691
6  4.027725  1.513999  4.372706  3.755319
7  0.575025  2.060870  4.643656  0.925684